.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    background-color: #282c34;
  }
  
  .user {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #b3e3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 300px;
    margin: 20px;
  }
  
  .paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: #000000;
    color: rgb(5, 152, 172);
    cursor: pointer;
  }
  
  .paginationBttns a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(5, 152, 172);
  }
  
  .paginationActive a {
    color: rgb(255, 255, 255);
    background-color: rgb(5, 152, 172);
  }
  
  .paginationDisabled a {
    color: rgb(5, 152, 172);
    background-color: rgb(255, 255, 255);
  }
  